<!-- web_app/templates/students.html -->

{% extends "bootstrap_nav_layout.html" %}
{% set active_page = "school" %}

{% block title %}
    <title>Student List</title>
{% endblock %}

{% block content %}
    <h1>D3000 Population</h1>
    <h2><a href="/clearx">Click here to the clear the database.</a> | <a href="/seedx">Click here to the seed the database.</a></h2>
    <!-- <h2><a href="http://127.0.0.1:5000/clearx">Click here to the clear the database.</a> | <a href="http://127.0.0.1:5000/seedx">Click here to the seed the database.</a></h2> -->
    
    <h4>List of teachers:</h4>

    {% if teachers %}
        <ul>
            {% for teacher in teachers %}
                <li>{{ teacher.teacher_name }}</li>
            {% endfor %}
        </ul>
    
    {% else %}
        <p>There are no teachers!</p>
    {% endif %}

    <h4>Students enrolled:</h4>

    {% if students %}
        <ul>
            {% for student in students %}
                <li>{{ student.student_name }}</li>
            {% endfor %}
        </ul>
    
    {% else %}
        <p>There are currently no students enrolled!</p>
    {% endif %}

    <h4>Classes available:</h4>

    {% if classes %}
        <ul>
            {% for class in classes %}
                <li>{{ class.class_name }}</li>
            {% endfor %}
        </ul>
    
    {% else %}
        <p>There are no classes available!</p>
    {% endif %}

{% endblock %}