<!-- web_app/templates/students.html -->

{% extends "bootstrap_nav_layout.html" %}
{% set active_page = "sql" %}

{% block title %}
    <title>SQL DB Design</title>
{% endblock %}

{% block content %}
    <h5>Stack: Python -> SQLITE(development) -> PostgreSQL(production) -> Flask -> Heroku</h5>
    <h5>Schema</h5>
    <img src="https://raw.githubusercontent.com/jae-finger/sis_demo/master/data/db_schema.png">
    <h5>Example SQL query</h5>
    <img src="https://raw.githubusercontent.com/jae-finger/sis_demo/master/data/sql_query.png">
    <h5>Python/FLask SQLAlchemy</h5>
    <img src="https://raw.githubusercontent.com/jae-finger/sis_demo/master/data/flask_sqlalchemy.png">
{% endblock %}