<!-- web_app/templates/students.html -->

{% extends "bootstrap_nav_layout.html" %}
{% set active_page = "students" %}

{% block title %}
    <title>Student List</title>
{% endblock %}

{% block content %}
    <h2>D3000 Student List</h2>
    <p><a href="/clearx">Click here to the clear the student list.</a>
        <a href="/seedx">Click here to the seed the student list.</a>
        Students enrolled:</p>

    {% if students %}
        <ul>
            {% for student in students %}
                <li>{{ student.student_name }}</li>
            {% endfor %}
        </ul>
    
    {% else %}
        <p>There are currently no students enrolled!</p>
    {% endif %}

{% endblock %}