<!-- web_app/templates/students.html -->

{% extends "bootstrap_nav_layout.html" %}
{% set active_page = "students" %}

{% block title %}
    <title>Student List</title>
{% endblock %}

{% block content %}
    <h1>D3000 Population</h1>
    <h2><a href="/clearx">Click here to the clear the database.</a> | <a href="/seedx">Click here to the seed the database.</a></h2>
    <p>Students enrolled:</p>

    {% if students %}
        <ul>
            {% for student in students %}
                <li>{{ student.student_name }}</li>
            {% endfor %}
        </ul>
    
    {% else %}
        <p>There are currently no students enrolled!</p>
    {% endif %}

{% endblock %}