<!-- web_app/templates/visuals.html -->

{% extends "bootstrap_nav_layout.html" %}
{% set active_page = "visuals" %}

{% block title %}
    <title>Example Visualizations</title>
{% endblock %}

{% block content %}
    <table style="width:100%">
        <tr>
          <th>Example Grade Curve</th>
          <th>Example Within Class Grades</th>
        </tr>
        <tr>
          <td><img src="https://raw.githubusercontent.com/jae-finger/sis_demo/master/data/mike_curve.png"></td>
          <td><img src="https://raw.githubusercontent.com/jae-finger/sis_demo/master/data/within_class.png"></td>
        </tr>
      </table>
    <p></p>
    <a href="https://medium.com/@jae.finger/anxiety-depression-and-graduate-school-198e77492dc5">See some of my interactive visualizations here-></a>
{% endblock %}