<!-- web_app/templates/visuals.html -->

{% extends "bootstrap_nav_layout.html" %}
{% set active_page = "visuals" %}

{% block title %}
    <title>Example Visualizations</title>
{% endblock %}

{% block content %}
    <table style="width:100%">
        <tr>
          <th>Example Grade Curve</th>
          <th>Example Within Class Grades</th>
          <th>Example Between Class Grades</th>
        </tr>
        <tr>
          <td><img src="https://raw.githubusercontent.com/jae-finger/sis_demo/master/data/mike_curve.png"></td>
          <td><img src="https://raw.githubusercontent.com/jae-finger/sis_demo/master/data/within_class.png"></td>
          <td></td>
        </tr>
      </table>
{% endblock %}